[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "external/vk-bootstrap"]
	path = external/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap/
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
